<%- include('../partials/html-head') %>
<link rel="stylesheet" href="/stylesheets/flights/index.css" />
<%- include('../partials/nav') %>

<main>
  <h1>Flight List</h1>
  <table>
    <thead>
      <tr>
        <th></th>
        <th></th>
        <th>Airline</th>
        <th>Airport</th>
        <th>Flight No.</th>
        <th>Departing Date</th>
      </tr>
    </thead>
    <tbody>
      <% flights.forEach(flight => { %>
        <tr>
          <td>
            <a href="/flights/<%= flight._id %>">Show Airline</a>
          </td>
          <td>
            <form 
        action="/flights/<%= flight._id %>?_method=DELETE" 
        method="POST"
        class="delete-form"
            >
              <button type="submit">Delete Airline</button>
            </form>
          </td>
          <td><%= flight.airline %></td>
          <td><%= flight.airport %></td>
          <td><%= flight.flightNo %></td>
          <td><%= flight.departs %></td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</main>

<%- include('../partials/footer') %>